html, body{
    margin: 0;
    padding: 0;
}

.flag{
    height: 200px;
    width: calc(200px*8/5);
    background-color: #0269a6;
    margin: 3em auto;
    position: relative;
    display: flex;
    align-items: center;
}

.cross{
    background-color: #fecc00;
}

.cross-v{
    width: 40px;
    height: 200px;
    margin-left: 100px;
    position: absolute;
}

.cross-h{
    width: 320px;
    height: 40px;
}
